body, html {
    margin: 0;
    overflow-x: hidden;
    background-color: #f8f9fa!important;
    font-size: 15px;
}

/* ANIMATIONS */

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}


@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes FadeIn {
  0% {
    opacity: 0.0;
  }
  100% {
    opacity: 1.0;
  }
}


/* SIGNIN */

.signin_wrapper {
    height: 50%
}


/* NAVBAR */

.notification_message {
    max-width: 500px;
    min-width: 300px;
    padding: 10px;
}

#global_search {
    /*float: right;*/
    /*margin-right: 10%;*/
    position: relative;
    /*top: 20px;*/
}

#global_search_input {
    height: 45px;
    padding: 5px;
    width: 250px;
    border-radius: 5px;
}

#global_search_btn {
    height: 45px;
}

/* BLOCK HEADING */

#heading {
    position: relative;
    top: 30px;
    font-weight: 200!important;
    align-items: center;
    justify-content: center;
}

.page_heading {
    animation-name: slideInFromLeft;
    animation-duration: .5s;
    color: white;
    font-size: 1.5em;
}

/* PAGE HEADER OPTIONS */

#conduit_icon {
    font-size: 4em;
    position: relative;
    top: 7px;
    left: 17px;
    color: rgba(0, 0, 0, .5)
}

#page_heading {
    position: relative;
    width: 100%;
    height: 120px;
    background-image: url("hivemind.jpg");
    /*background-position: center;*/
    background-attachment: fixed;
    /*background-size: cover;*/
    background-repeat: no-repeat;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#page_title {
    margin-left: 65px;
    position: absolute;
    top: 36px;
    /*line-height: 36px;*/
    font-weight: 300;
    font-size: 36px;
    color: white;
    text-decoration: none;
    /*text-shadow: 1px 1px grey;*/
}

#title_link:visited {
    /*color: rgba(252, 135, 59, 1);*/
    color: white;
}

#title_link:hover {
    /*color: deepskyblue;*/
}

#title_link {
    text-decoration: none;
    font-weight: 300;
}

#ask_question {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#block_background {
    background-color: #e6e2da;
}

/* BLOCK FEATURE */

.onboard-icon {
    position: relative;
    left: 16px;
    z-index: 10;
    font-size: 4em;
    top: -2px;
    color: white;
}

#onboard_how {
    position: relative;
    top: 6px;
}

#onboard_sign {
    position: relative;
    top: 17px;
}

#onboard_hexes_all {
    position: absolute;
    top: -165px;
    left: 35%;
    /*display: flex;*/
    /*justify-content: center;*/
    align-items: center;
}

#onboard_hex0 {
    animation-name: slideInFromLeft;
    animation-duration: 1s;
    position: relative;
    top: 0px;
    left: 0px;
}

#onboard_hex1 {
    animation-name: slideInFromBottom;
    animation-duration: 1s;
    position: absolute;
    top: 91px;
    left: 67px;
}

#onboard_hex2 {
    animation-name: slideInFromTop;
    animation-duration: 1s;
    position: absolute;
    top: 0px;
    left: 121px;
}

#onboard_hex3 {
    animation-name: slideInFromBottom;
    animation-duration: 1s;
    position: relative;
    top: 6px;
    left: 158px;
}

#onboard_hex4 {
    animation-name: slideInFromRight;
    animation-duration: 1s;
    position: absolute;
    top: 0px;
    left: 227px;
}

.hexagon {
  position: relative;
  width: 100px;
  height: 57.74px;
  background-color: dimgrey;
  margin: 28.87px 0;
  border-left: solid 5px #ffffff;
  border-right: solid 5px #ffffff;
}

.hexagon:hover {
    background-color: #5bc0de;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 70.71px;
  height: 70.71px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 9.6447px;
}

.hexagon:before {
  top: -35.3553px;
  border-top: solid 7.0711px #ffffff;
  border-right: solid 7.0711px #ffffff;
}

.hexagon:after {
  bottom: -35.3553px;
  border-bottom: solid 7.0711px #ffffff;
  border-left: solid 7.0711px #ffffff;
}

#how_it_works {
    position: relative;
    padding: 10px;
    width: 100%;
}

#how_it_works .col-sm-2 {
    padding: 20px;
    margin: 10px;
    text-align: center;
}

#how_it_works .col-md-2 {
    padding: 20px;
    margin: 10px;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    border: 2px solid lightgrey;
}

#how_it_works .col-md-2:hover {
    color: #4899de;
    border: 2px solid #4899de;
}

#feature_signup {
    /*position: relative;*/
    /*top: 50px;*/
}

/* HIVES */

.hive_description {
    color: whitesmoke;
}

#hives {
    position: absolute;
    top: -40px;
    left: 0px;
    display: flex;
    flex-direction: row-reverse;
    /*width: 200px;*/
}

#hives div {
    margin: 3px;
    height: 50px;
    width: 44px;
    background-image: url("hex_border_lightgrey.png");
    background-size: 44px;
    text-align: center;
    font-size: 1.5em;
    color: lightgrey;
}

#hives div span {
    position: relative;
    top: 13px;
}

#hives div:hover {
    color: white;
}

#new_hive {
    margin: 3px;
    position: absolute;
    top: 3px;
    left: 25px;
}

#new_hive_text {
    position: inherit;
    top: -7px;
    left: 11px;
 }

/* index.html QUESTIONS */

#question_wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    margin: 20px;
}

.avatar_thumbnail {
    position: relative;
    border: 2px solid white;
    border-radius: 50%;
}

#avatar_thumbnail:hover {
    /*border: 2px solid cornflowerblue;*/
    box-shadow: 0 0 10px #4899de;
}

#question_container {
    position: relative;
    border: 1px solid grey;
    border-radius: 2px;
    margin-left: 20px;
    background-color: white;
    width: 100%;
}

#question_container:hover {
    box-shadow: 0 0 10px #4899de;
    border: 1px solid cornflowerblue;
}

#question_data {
    padding-left: 50px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: inherit;
    width: 100%;
    background-color: #f8f9fa;
    border-bottom: 1px solid grey;
}

#question_data::before {
    position: absolute;
    top: 16px;
    right: 100%;
    left: -6px;
    display: block;
    width: 10px;
    height: 10px;
    content: " ";
    transform: rotate(-45deg);
    background-color: #f8f9fa;
    border-top: 1px solid grey;
    border-left: 1px solid grey;
}

#question_header {
    padding: 20px;
}

.text_link {
    color: black;
}

.text_link:hover {
    text-decoration: none;
    color: dimgray;
}

#question_div {
    color: black;
}

#question_div:hover {
    text-decoration: none;
    color: dimgray;
}

.unsolved_indicator {
    position: relative;
    width: 30px;
    height: 30px;
    font-weight: bold;
    line-height: 24px;
    text-align: center;
    font-size: 1.5em;
    border: 3px solid darkgrey;
    color: darkgrey;
    background-color: white;
    border-radius: 5px;
    z-index: 1;
}

.solved_indicator {
    position: relative;
    width: 30px;
    height: 30px;
    font-weight: bold;
    line-height: 24px;
    text-align: center;
    font-size: 1.5em;
    border: 3px solid #9aca27;
    color: #9aca27;
    background-color: white;
    border-radius: 5px;
    z-index: 1;
}

#solved {
    position: absolute;
    top: 7px;
    left: 8px;
}

#unsolved {
    position: absolute;
    top: 7px;
    left: 8px;
}

#site_logo {
    /*margin-top: 20px;*/
    /*margin-bottom: 20px;*/
}

/* PROFILE IMAGES */

#profile_heading {
    position: absolute;
    top: 5px;
    left: 185px;
}

.hexagonLarge {
  position: relative;
  width: 150px;
  height: 86.60px;
  margin: 43.30px 0;
  background-size: auto 154.7299px;
  background-position: center;
  border-left: solid 8px #ffffff;
  border-right: solid 8px #ffffff;
}

.hexTopLarge,
.hexBottomLarge {
  position: absolute;
  z-index: 1;
  width: 106.07px;
  height: 106.07px;
  overflow: hidden;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background: inherit;
  left: 13.97px;
}

/*counter transform the bg image on the caps*/
.hexTopLarge:after,
.hexBottomLarge:after {
  content: "";
  position: absolute;
  width: 134.0000px;
  height: 77.36493607140986px;
  -webkit-transform:  rotate(45deg) scaleY(1.7321) translateY(-38.6825px);
  -ms-transform:      rotate(45deg) scaleY(1.7321) translateY(-38.6825px);
  transform:          rotate(45deg) scaleY(1.7321) translateY(-38.6825px);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  background: inherit;
}

.hexTopLarge {
  top: -53.0330px;
  border-top: solid 11.3137px #ffffff;
  border-right: solid 11.3137px #ffffff;
}

.hexTopLarge:after {
  background-position: center top;
}

.hexBottomLarge {
  bottom: -53.0330px;
  border-bottom: solid 11.3137px #ffffff;
  border-left: solid 11.3137px #ffffff;
}

.hexBottomLarge:after {
  background-position: center bottom;
}

.hexagonLarge:after {
  content: "";
  position: absolute;
  top: 4.6188px;
  left: 0;
  width: 134.0000px;
  height: 77.3649px;
  z-index: 2;
  background: inherit;
}

.hexagonSmall {
  position: relative;
  top: -3px;
  width: 42px;
  height: 24.25px;
  margin: 12.12px 0;
  background-size: auto 43.8786px;
  background-position: center;
  border-left: solid 2px #ffffff;
  border-right: solid 2px #ffffff;
}

.hexTopSmall,
.hexBottomSmall {
  position: absolute;
  z-index: 1;
  width: 29.70px;
  height: 29.70px;
  overflow: hidden;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background: inherit;
  left: 4.15px;
}

/*counter transform the bg image on the caps*/
.hexTopSmall:after,
.hexBottomSmall:after {
  content: "";
  position: absolute;
  width: 38.0000px;
  height: 21.93931022920578px;
  -webkit-transform:  rotate(45deg) scaleY(1.7321) translateY(-10.9697px);
  -ms-transform:      rotate(45deg) scaleY(1.7321) translateY(-10.9697px);
  transform:          rotate(45deg) scaleY(1.7321) translateY(-10.9697px);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  background: inherit;
}

.hexTopSmall {
  top: -14.8492px;
  border-top: solid 2.8284px #ffffff;
  border-right: solid 2.8284px #ffffff;
}

.hexTopSmall:after {
  background-position: center top;
}

.hexBottomSmall {
  bottom: -14.8492px;
  border-bottom: solid 2.8284px #ffffff;
  border-left: solid 2.8284px #ffffff;
}

.hexBottomSmall:after {
  background-position: center bottom;
}

.hexagonSmall:after {
  content: "";
  position: absolute;
  top: 1.1547px;
  left: 0;
  width: 38.0000px;
  height: 21.9393px;
  z-index: 2;
  background: inherit;
}

.hexagonMedium {
  position: relative;
  top: -5px;
  width: 60px;
  height: 34.64px;
  margin: 17.32px 0;
  background-size: auto 62.3538px;
  background-position: center;
  border-left: solid 3px #ffffff;
  border-right: solid 3px #ffffff;
}

.hexTopMedium,
.hexBottomMedium {
  position: absolute;
  z-index: 1;
  width: 42.43px;
  height: 42.43px;
  overflow: hidden;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background: inherit;
  left: 5.79px;
}

/*counter transform the bg image on the caps*/
.hexTopMedium:after,
.hexBottomMedium:after {
  content: "";
  position: absolute;
  width: 54.0000px;
  height: 31.176914536239796px;
  -webkit-transform:  rotate(45deg) scaleY(1.7321) translateY(-15.5885px);
  -ms-transform:      rotate(45deg) scaleY(1.7321) translateY(-15.5885px);
  transform:          rotate(45deg) scaleY(1.7321) translateY(-15.5885px);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  background: inherit;
}

.hexTopMedium {
  top: -21.2132px;
  border-top: solid 4.2426px #ffffff;
  border-right: solid 4.2426px #ffffff;
}

.hexTopMedium:after {
  background-position: center top;
}

.hexBottomMedium {
  bottom: -21.2132px;
  border-bottom: solid 4.2426px #ffffff;
  border-left: solid 4.2426px #ffffff;
}

.hexBottomMedium:after {
  background-position: center bottom;
}

.hexagonMedium:after {
  content: "";
  position: absolute;
  top: 1.7321px;
  left: 0;
  width: 54.0000px;
  height: 31.1769px;
  z-index: 2;
  background: inherit;
}

/* PROFILE PAGE*/

#user_profile_avatar {
    border: 5px solid white;
    /*border-radius: 50%;*/
}

#donutchart {
    background-color: transparent;
}

/* FOOTER */

#footer {
    /*margin-top: 20px;*/
    /*padding: 40px;*/
    height: 20%;
    width: 100%;
    color: white;
    background-color: black;
}

/* QUESTION DETAIL*/


#question_detail {
    position: relative;
    top: -9px;
}

#question_thumbnail {
    position: relative;
    align-items: center;
}

#question_bookmark {
    position: relative;
    top: 6px;
}

#answer_avatar {
    position: absolute;
    top: 0px;
    left: -60px;
}

.answer_body {
    padding: 20px;
}

.question_actions {
}

.answer_wrapper {
    position: relative;
    background-color: #f8f9fa;
    border-radius: 2px;
    border: 1px solid darkgrey;
    margin: 15px;
}

.answer_data {
    padding: 6px;
    padding-left: 10px;
    border-bottom: 1px solid darkgrey;
}

.answer_data::before {
    position: absolute;
    top: 16px;
    right: 100%;
    left: -6px;
    display: block;
    width: 10px;
    height: 10px;
    content: " ";
    transform: rotate(-45deg);
    background-color: #f8f9fa;
    border-top: 1px solid grey;
    border-left: 1px solid grey;
}

.answer_actions {
    position: relative;
    /*border-top: 1px solid darkgrey;*/
    /*top: -40px;*/
    /*right: 10px;*/
    /*float: right;*/
}

.vote_controls {
    font-size: 1.5em;
}

.solution_wrapper {
    position: relative;
    background-color: #f8f9fa;
    border-radius: 2px;
    border: 1px solid #9aca27;
    margin: 15px;
    /*color: #9aca27;*/
}

#solution_indicator {
    position: relative;
    top: -2px;
    float: right;
    font-size: 2.5em;
}

/* TOOLTIPS */

/* Tooltip container */
.dp_tooltip {
    /*position: relative;*/
    /*display: inline-block;*/
    /*border-bottom: 1px dotted black; !* If you want dots under the hoverable text *!*/
}

/* Tooltip text */
.dp_tooltip .tooltip_text {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    font-size: .3em;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 100;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 1s;
}

/* Tooltip arrow */
.dp_tooltip .tooltip_text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.dp_tooltip:hover .tooltip_text {
    visibility: visible;
    opacity: 1;
}

.dp_tooltip .tooltip_large {
    visibility: hidden;
    width: 200px;
    background-color: #555;
    color: #fff;
    text-align: center;
    font-size: 1em;
    padding: 10px;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 100;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 1s;
}

.dp_tooltip .tooltip_large::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.dp_tooltip:hover .tooltip_large {
    visibility: visible;
    opacity: 1;
}
