body, html {
    margin: 0;
    overflow-x: hidden;
    background-color: #f8f9fa!important;
}

/* NAVBAR */

.notification_message {
    max-width: 500px;
    min-width: 300px;
    padding: 10px;
}

#global_search {
    /*float: right;*/
    /*margin-right: 10%;*/
    position: relative;
    /*top: 20px;*/
}

#global_search_input {
    height: 45px;
    padding: 5px;
    width: 250px;
    border-radius: 5px;
}

#global_search_btn {
    height: 45px;
}

/* BLOCK FEATURE */

#how_it_works {
    position: relative;
    padding: 10px;
    width: 100%;
}

#how_it_works .col-sm-2 {
    padding: 20px;
    margin: 10px;
    text-align: center;
}

#how_it_works .col-md-2 {
    padding: 20px;
    margin: 10px;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    border: 2px solid lightgrey;
}

#how_it_works .col-md-2:hover {
    color: #4899de;
    border: 2px solid #4899de;
}

#feature_signup {
    /*position: relative;*/
    /*top: 50px;*/
}

/* index.html QUESTIONS */


#question_wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    margin: 20px;
}

#avatar_thumbnail {
    position: relative;
    border: 2px solid white;
    border-radius: 50%;
}

#avatar_thumbnail:hover {
    /*border: 2px solid cornflowerblue;*/
    box-shadow: 0 0 10px #4899de;
}

#question_container {
    position: relative;
    border: 1px solid grey;
    border-radius: 2px;
    margin-left: 20px;
    background-color: white;
    width: 100%;
}

#question_container:hover {
    box-shadow: 0 0 10px #4899de;
    border: 1px solid cornflowerblue;
}

#question_data {
    padding-left: 50px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: inherit;
    width: 100%;
    background-color: #f8f9fa;
    border-bottom: 1px solid grey;
}

#question_data::before {
    position: absolute;
    top: 16px;
    right: 100%;
    left: -6px;
    display: block;
    width: 10px;
    height: 10px;
    content: " ";
    transform: rotate(-45deg);
    background-color: #f8f9fa;
    border-top: 1px solid grey;
    border-left: 1px solid grey;
}

#question_header {
    padding: 20px;
}

.text_link {
    color: black;
}

.text_link:hover {
    text-decoration: none;
    color: dimgray;
}

#question_div {
    color: black;
}

#question_div:hover {
    text-decoration: none;
    color: dimgray;
}

.unsolved_indicator {
    position: relative;
    width: 30px;
    height: 30px;
    font-weight: bold;
    line-height: 24px;
    text-align: center;
    font-size: 1.5em;
    border: 3px solid darkgrey;
    color: darkgrey;
    background-color: white;
    border-radius: 5px;
    z-index: 1;
}

.solved_indicator {
    position: relative;
    width: 30px;
    height: 30px;
    font-weight: bold;
    line-height: 24px;
    text-align: center;
    font-size: 1.5em;
    border: 3px solid #9aca27;
    color: #9aca27;
    background-color: white;
    border-radius: 5px;
    z-index: 1;
}

#solved {
    position: absolute;
    top: 7px;
    left: 8px;
}

#unsolved {
    position: absolute;
    top: 7px;
    left: 8px;
}

#site_logo {
    /*margin-top: 20px;*/
    /*margin-bottom: 20px;*/
}

/* PAGE HEADER OPTIONS */

#hive_hex {
    position: relative;
    top: 22px;
    left: 10px;
}

#hex3 {
    position: relative;
    top: 34px;
    left: -59px;
}

#conduit_icon {
    font-size: 4em;
    position: relative;
    top: 7px;
    left: 17px;
    color: rgba(0, 0, 0, .5)
}

#page_heading {
    position: relative;
    width: 100%;
    height: 120px;
    background-image: url("hivemind.jpg");
    /*background-position: center;*/
    background-attachment: fixed;
    /*background-size: cover;*/
    background-repeat: no-repeat;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#page_title {
    margin-left: 45px;
    position: absolute;
    top: 36px;
    /*line-height: 36px;*/
    font-weight: 300;
    font-size: 36px;
    color: white;
    text-decoration: none;
    /*text-shadow: 1px 1px grey;*/
}

#title_link:visited {
    /*color: rgba(252, 135, 59, 1);*/
    color: white;
}

#title_link:hover {
    /*color: deepskyblue;*/
}

#title_link {
    text-decoration: none;
    font-weight: 300;
}

#ask_question {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#block_background {
    background-color: #e6e2da;
}

/* PROFILE PAGE */
#user_profile_avatar {
    border: 5px solid white;
    /*border-radius: 50%;*/
}

#donutchart {
    background-color: transparent;
}

/* FOOTER */

#footer {
    /*margin-top: 20px;*/
    /*padding: 40px;*/
    height: 20%;
    width: 100%;
    color: white;
    background-color: black;
}

/* QUESTION DETAIL*/

.answer_wrapper {
    background-color: #f8f9fa;
    border-radius: 2px;
    border: 1px solid darkgrey;
    padding: 15px;
    margin: 15px;
}

.answer_data {
    font-size: 1.5em;
}

.solution_wrapper {
    background-color: #f8f9fa;
    border-radius: 2px;
    border: 1px solid #9aca27;
    padding: 15px;
    margin: 15px;
    /*color: #9aca27;*/
}

#solution_indicator {
    position: absolute;
    left: 20px;
    font-size: 3em;
}

/* TOOLTIPS */

/* Tooltip container */
.dp_tooltip {
    /*position: relative;*/
    /*display: inline-block;*/
    /*border-bottom: 1px dotted black; !* If you want dots under the hoverable text *!*/
}

/* Tooltip text */
.dp_tooltip .tooltip_text {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    font-size: .3em;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 1s;
}

/* Tooltip arrow */
.dp_tooltip .tooltip_text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.dp_tooltip:hover .tooltip_text {
    visibility: visible;
    opacity: 1;
}

.dp_tooltip .tooltip_large {
    visibility: hidden;
    width: 200px;
    background-color: #555;
    color: #fff;
    text-align: center;
    font-size: 1em;
    padding: 10px;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 1s;
}

.dp_tooltip .tooltip_large::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.dp_tooltip:hover .tooltip_large {
    visibility: visible;
    opacity: 1;
}
