{% load static %}

<head>
    <title>hivemind</title>
    <link rel="stylesheet" href="{% static 'questions/style.css' %}"/>
    <link rel="icon" href="{% static 'questions/favicon.png' %}">
    <!-- Bootstrap requirements -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <!-- Icons -->
    <script src="https://use.fontawesome.com/1a2185aed0.js"></script>
    <!-- For custom javascript & AJAX -->
    <script src="{% static 'questions/tools.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.4/js.cookie.min.js"></script>

</head>

<header>

    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{% url 'questions:index' %}">
                <img src="{% static 'questions/hivemind_v2.png' %}" height="45" id="site_logo"/>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'questions:index' %}">Q&A <span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'questions:tags' %}">Tags</a>
                    </li>

                    {% if request.user.is_authenticated %}

                        {% if request.user.notification_set.count > 0 %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="notificationsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Notifications <span class="badge badge-pill badge-info">{{ request.user.notification_set.count }}</span>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="notificationsDropdown">

                                    {% for notification in request.user.notification_set.all %}

                                        {% autoescape off %} {{ notification }} {% endautoescape %}
                                        <div class="dropdown-divider"></div>

                                    {% endfor %}

                                    {% if request.user.notification_set.count > 0 %}
                                        <a class="dropdown-item" href="{% url 'questions:clear_all' %}">CLEAR ALL</a>
                                    {% endif %}
                                </div>
                            </li>
                        {% else %}

                            <li class="nav-item">
                                <a class="nav-link">Notifications <span class="badge badge-pill badge-default">0</span></a>
                            </li>

                        {% endif %}

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              {{ request.user.username }}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{% url 'questions:profile' request.user.id %}"><span class="fa fa-user"></span> Profile</a>
                                <a class="dropdown-item" href="{% url 'questions:bookmarks' request.user.id %}"><span class="fa fa-bookmark-o"></span> Bookmarks</a>
                            <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'questions:signout' %}"><span class="fa fa-sign-out"></span> Sign out</a>
                            </div>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'questions:signin' %}">Sign in</a>
                        </li>
                    {% endif %}
                    <!--<li class="nav-item">-->
                        <!--<a class="nav-link disabled" href="#">Disabled</a>-->
                    <!--</li>-->
                </ul>

                <form class="form-inline my-2 my-lg-0" action="{% url 'questions:search' %}" method="post">
                    {% csrf_token %}
                    <input name="search" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" required>
                    <button class="btn btn-outline-info my-2 my-sm-0" type="submit"><span class="fa fa-search"></span></button>
                </form>

            </div>
        </nav>
    </div>

</header>

<body>

    <div id="page_heading">
        <div class="container">
            {% block heading %}
            <!--<div id="hive_hex">-->
                <!--<img src="{% static 'questions/hex_border_lightgrey.png' %}" height="40" id="hex1"/>-->
                <!--<img src="{% static 'questions/hex_border_lightgrey.png' %}" height="40" id="hex2"/>-->
                <!--<img src="{% static 'questions/hex_border_lightgrey.png' %}" height="40" id="hex3"/>-->
            <!--</div>-->
            <!--<h3 id="page_title"><a href="{% url 'questions:index' %}" id="title_link">hivemind</a></h3>-->
            {% endblock %}
        </div>
    </div>

    <div id="block_background">

        {% block feature %}
        {% endblock %}

        {% block content %}
        {% endblock %}

    </div>

    <div id="footer">
        <br />
        <div class="container">
            <div class="row">
                <div class="col">
                    <a href="{% url 'questions:index' %}">Q&A</a> •
                    <a href="{% url 'questions:tags' %}">TAGS</a> •
                    {% if request.user.is_authenticated %}
                        <a href="{% url 'questions:signout' %}">SIGN OUT</a>
                    {% else %}
                        <a href="{% url 'questions:signin' %}">SIGN IN</a>
                    {% endif %}

                </div>
                <div class="col">
                    <p><img src="{% static 'questions/powered-nwpp-logo.png' %}" height="50" id="nwpp_logo"/></p>
                    © {% now "Y" %} <a href="http://nwpp.org">Northwest Power Pool Corporation</a> - All rights reserved.
                </div>
            </div>
        </div>
    </div>
    <br />

</body>