{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'questions/style.css' %}"/>
    <title>source - Q&A</title>
    <link rel="icon" href="{% static 'questions/favicon.png' %}">
</head>

<header>
    <div id="header_container">
        <a href="{% url 'questions:index' %}"><img src="{% static 'questions/sourcelogo_updated_03.png' %}" height="30" id="site_logo"/></a>
        <form action="{% url 'questions:search' %}" method="post" id="global_search">
            {% csrf_token %}
            <input type="text" placeholder="What are you looking for?" name="search" required id="global_search_input"/>
            <button type="submit">SEARCH</button>
        </form>
    </div>
</header>

<body>

    <div id="page_heading">
        <h3 id="page_title"><a href="{% url 'questions:index' %}" id="title_link">Questions & Answers</a></h3>
    </div>
    <p></p>

    {% block content %}
    {% endblock %}

    <div id="footer">© 2018 Northwest Power Pool Corporation - All rights reserved.
        {% if user.is_authenticated %}
            | <a href="{% url 'questions:signout' %}" class="link">signout</a>
        {% elif not user.is_authenticated %}
            | <a href="{% url 'questions:signin' %}" class="link">signin</a>
        {% endif %}
    </div>

</body>