{% extends 'questions/base.html' %}

{% block content %}


<br />
<div class="container">
    <div class="row">
        <div class="col">
            <h4><span class="fa fa-bookmark-o"></span> BOOKMARKS</h4>
            <hr />
        </div>
    </div>

    <div class="row">
        {% if user.bookmark_set.all.count > 0 %}
            <div class="col-sm-12">

                <ul>
                {% for bookmark in user.bookmark_set.all %}
                    <li><a href="{% url 'questions:question_detail' bookmark.question.id %}">{{ bookmark.question }}</a></li>
                {% endfor %}
                </ul>
            </div>
        {% endif %}

    </div>
</div>
<br />


{% endblock %}
