
    <!-- hivemind heading -->

    <div id="page_heading">
        <div class="container">
            <div id="hive_hex">
                <img src="{% static 'questions/hex_border_lightgrey.png' %}" height="40" id="hex1"/>
                <img src="{% static 'questions/hex_border_lightgrey.png' %}" height="40" id="hex2"/>
                <img src="{% static 'questions/hex_border_lightgrey.png' %}" height="40" id="hex3"/>
            </div>
            <h3 id="page_title"><a href="{% url 'questions:index' %}" id="title_link">hivemind</a></h3>
        </div>
    </div>

    <!-- conduit heading -->

    <div id="page_heading">
        <div class="container">
            <div id="hive_hex">
                <span class="fa fa-refresh" id="conduit_icon"></span>
            </div>
            <h3 id="page_title"><a href="{% url 'questions:index' %}" id="title_link">conduit</a></h3>
        </div>
    </div>