{% extends 'questions/base.html' %}

{% block content %}

<br />
<div class="container">
    {% if request.user.is_authenticated %}
        <div id="ask_question">
            <a href="{% url 'questions:new_question' %}" class="btn btn-outline-info btn-lg"><span class="fa fa-comment-o"></span> ASK A QUESTION</a>
        </div>
    {% endif %}

    {% for question in questions %}
        <div id="question_wrapper">
            <div>
                <img src="/{{ question.user.profile.avatar }}" height="46" width="46" id="avatar_thumbnail"/>
            </div>
            <div id="question_container">
                <div id="question_data">
                    {{ question.answer_set.count }} answers | {{ question.views }} views |
                    by <a href="{% url 'questions:profile' question.user.id %}"> {{ question.user }} </a> on <i>{{ question.created }}</i>
                </div>
                <div id="question_header">
                    <a href="{% url 'questions:question_detail' question.id %}" class="text_link">
                        <div><b>{{ question.title }}</b>
                        <br /> tags:
                        {% for tag in question.tags.all %}
                            {{ tag }}
                        {% endfor %}
                        </div>
                    </a>
                </div>

                {% if question.solved == True %}
                    <div class="solved_indicator" id="solved">✓</div>
                {% else %}
                    <div class="unsolved_indicator" id="unsolved">?</div>
                {% endif %}

            </div>
        </div>
    {% endfor %}

    <br />
        <div class="pagination">
            <span class="step-links">
                {% if questions.has_previous %}
                    <a href="?page={{ questions.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ questions.number }} of {{ questions.paginator.num_pages }}
                </span>

                {% if questions.has_next %}
                    <a href="?page={{ questions.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
<br />
<br />

</div>

{% endblock %}
