{% extends 'questions/base.html' %}

{% block heading %}

    <div class="row" id="heading">
        <div class="col">
            <span style="font-size: 2em" class="page_heading"><span class="fa fa-comments-o"></span> QUESTIONS</span>
        </div>
    </div>

{% endblock %}

{% block feature %}

    {% if not request.user.is_authenticated %}

        <br />
        <div class="container">
            <div class="row" id="how_it_works">

                <div class="col-sm-2"><h5>HOW IT WORKS</h5></div>
                <div class="col-md-2 dp_tooltip">
                    <span class="tooltip_large">Anyone can ask a question</span>
                    <span class="fa fa-comment-o" style="font-size: 2em"></span>
                    <h5>ASK</h5>
                </div>
                <div class="col-md-2 dp_tooltip">
                    <span class="tooltip_large">Answers can be provided by others</span>
                    <span class="fa fa-comments-o" style="font-size: 2em"></span>
                    <h5>ANSWER</h5>
                </div>
                <div class="col-md-2 dp_tooltip">
                    <span class="tooltip_large">Answers are voted on, and a solution is identified</span>
                    <span class="fa fa-check-circle-o" style="font-size: 2em"></span>
                    <h5>SOLVE</h5>
                </div>
                <div class="col-sm-2">
                    <a href="{% url 'questions:register' %}">
                        <button class="btn btn-outline-info my-2 my-sm-0" id="feature_signup"><b>SIGN UP</b></button>
                    </a>
                </div>
            </div>
            <hr />
        </div>

    {% endif %}

    {% if request.user.is_authenticated %}

        <br />
        <div class="container">
            <div id="ask_question">
                <a href="{% url 'questions:new_question' %}" class="btn btn-outline-info btn-lg"><span class="fa fa-comment-o"></span> ASK A QUESTION</a>
            </div>
        </div>


    {% endif %}

{% endblock %}


{% block content %}

<br />
<div class="container" id="index_container">

            {% for question in questions %}
                <div id="question_wrapper">
                    <div>
                        <a href="{% url 'questions:profile' question.user.id %}">
                            <img src="/{{ question.user.profile.avatar }}" height="46" width="46" class="avatar_thumbnail"/>
                        </a>
                    </div>
                    <div id="question_container">
                        <div id="question_data">
                            {{ question.answer_set.count }} answers | {{ question.views }} views |
                            by <a href="{% url 'questions:profile' question.user.id %}"> {{ question.user }} </a> on <i>{{ question.created }}</i>
                        </div>
                        <div id="question_header">
                            <a href="{% url 'questions:question_detail' question.id %}" class="text_link">
                                <div><b>{{ question.title }}</b>
                                <br />
                                    <span style="opacity: .5">
                                        <span>
                                            {% autoescape off %} {{ question.category.icon }} {% endautoescape %}
                                        </span>
                                        <span>
                                            tags:
                                            {% for tag in question.tags.all %}
                                                {{ tag }}
                                            {% endfor %}
                                        </span>
                                    </span>
                                </div>
                            </a>
                        </div>

                        {% if question.solved == True %}
                            <div class="solved_indicator" id="solved">✓</div>
                        {% else %}
                            <div class="unsolved_indicator" id="unsolved">?</div>
                        {% endif %}

                    </div>
                </div>
            {% endfor %}

            <br />
                <div class="pagination">
                    <span class="step-links">
                        {% if questions.has_previous %}
                            <a href="?page={{ questions.previous_page_number }}">previous</a>
                        {% endif %}

                        <span class="current">
                            Page {{ questions.number }} of {{ questions.paginator.num_pages }}
                        </span>

                        {% if questions.has_next %}
                            <a href="?page={{ questions.next_page_number }}">next</a>
                        {% endif %}
                    </span>
                </div>

<br />
<br />

</div>

{% endblock %}
