{% extends 'questions/base.html' %}



{% block content %}

<br />

<div class="container">
    {% if edit %}
        <h4>EDIT QUESTION</h4>
        <form action="{% url 'questions:save_question' question.id %}" method="post">

    {% else %}
        <h4>ASK A QUESTION</h4>
        <form action="{% url 'questions:post_question' %}" method="post">
    {% endif %}

        {% csrf_token %}
        {{ form.media }}
        <p>{{ form.title }}</p>
        <p>{{ form.body }}</p>
        <p>{{ form.tags }}</p>
    {% if edit %}
        <p><button type="submit" class="btn btn-info btn-lg">SAVE</button> </p>
    {% else %}
        <p><button type="submit" class="btn btn-info btn-lg">ASK</button> </p>
    {% endif %}
    </form>
</div>

<br />


{% endblock %}