{% extends 'questions/base.html' %}

{% block heading %}

    <div class="row" id="heading">
        <div class="col-md-1 hidden-sm hidden-xs">
            <a href="{% url 'questions:profile' question.user.id %}">
                <div class="hexagonMedium" style="background-image: url('/{{ question.user.profile.avatar }}'">
                    <div class="hexTopMedium"></div>
                    <div class="hexBottomMedium"></div>
                </div>
            </a>
            <!--<a href="{% url 'questions:profile' question.user.id %}">-->
                <!--<img src="/{{ question.user.profile.avatar }}" height="60" width="60" class="avatar_thumbnail"/>-->
            <!--</a>-->
        </div>
        <div class="col-md-11 col-sm-12">
            <div class="page_heading" id="question_detail">{{ question.title }}</div>
        </div>

    </div>

{% endblock %}


{% block content %}

<!-- Flag Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">FLAG </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="exampleModalLongBody">
                <form action="{% url 'questions:flag' %}" method="post">
                    {% csrf_token %}
                    <!--The 2 values below are adjusted via JS when a flag is clicked -->
                    <input id="flag_type" type="hidden" value="PH1" name="object_type"/>
                    <input id="flag_type_id" type="hidden" value="PH2" name="object_id"/>

                    <p><select name="reason">
                        <option disabled>Choose a reason</option>
                        <option value="inappropriate">Inappropriate Content</option>
                        <option value="duplicate">Duplicate Question</option>
                        <option value="off-topic">Off-topic</option>
                    </select></p>
                    <p><textarea name="body" style="width: 100%" placeholder="You are not a beautiful and unique snowflake." required></textarea></p>
                    <button type="submit" class="btn btn-secondary">CONFIRM</button>
                </form>
            </div>
            <div class="modal-footer">
                <span class="fa fa-info-circle"></span><i>Flags from 3 unique users will lock content</i>
            </div>
        </div>
    </div>
</div>

<br />

<div class="container">
    <div class="row">
        <div class="col-lg-9">
            <!--<h4>{{ question.title }}</h4>-->
            <p>
                <span class="question_actions">
                    {% if bookmark %}
                        <a href="#"><span class="fa fa-bookmark" id="question_bookmark" style="font-size: 2em"></span></a>
                    {% else %}
                        <a href="#"><span class="fa fa-bookmark-o" id="question_bookmark" style="font-size: 2em"></span></a>
                    {% endif %}
                </span>
                by <a href="{% url 'questions:profile' question.user.id %}">{{ question.user }}</a>
                | published {{ question.created }}
                {% if request.user == question.user %}
                | <a href="{% url 'questions:edit_question' question.id %}">EDIT</a>
                {% endif %}
            </p>
            <p class="question_body">{{ question.body|safe }}</p>
            <p>CATEGORY - {{ question.category }}</p>
            <p> TAGS -
                {% for tag in tags %}
                    {{ tag }}
                {% endfor %}</p>
            <a href="#"><span class="fa fa-flag-o" id="question_flag" style="font-size: 1.5em" data-toggle="modal" data-target="#exampleModalLong"></span></a>


            {% if answers.count > 0 %}

                <hr >
                <h5>ANSWERS</h5>
                <ul>
                    {% for answer in answers %}

                        {% if answer.solution == True %}
                            <li class="solution_wrapper" style="list-style: none">
                        {% else %}
                            <li class="answer_wrapper" style="list-style: none">
                        {% endif %}
                        <div id="answer_avatar">
                            <a href="{% url 'questions:profile' answer.user.id %}">
                                <div class="hexagonSmall" style="background-image: url('/{{ answer.user.profile.avatar }}'">
                                    <div class="hexTopSmall"></div>
                                    <div class="hexBottomSmall"></div>
                                </div>
                            </a>
                            <!--<a href="{% url 'questions:profile' answer.user.id %}">-->
                                <!--<img src="/{{ answer.user.profile.avatar }}" height="46" width="46" class="avatar_thumbnail" id="heading_avatar"/>-->
                            <!--</a>-->
                        </div>
                            <div class="answer_data">
                                <div id="solution_indicator" class="dp_tooltip">
                                    {% if request.user == question.user and question.solved == False %}
                                        <span class="tooltip_text">Click if this solves your question</span>
                                        <a href="{% url 'questions:solve' answer.id %}"><span class="fa fa-check-circle-o"></span></a>
                                    {% elif question.solved and answer.solution == True %}
                                        <span class="fa fa-check-circle-o" style="color: #9aca27"></span></a>
                                    {% endif %}
                                </div>

                                {% if request.user in answer.voters %}
                                    <span class="vote_controls"><span class="fa fa-arrow-circle-o-up" style="opacity: .2"></span>
                                        <b>{{ answer.vote_counter }}</b>
                                        <span class="fa fa-arrow-circle-o-down" style="opacity: .2"></span>
                                    </span>
                                {% else %}
                                    <span class="vote_controls"><a href="{% url 'questions:voteup' answer.id %}"><span class="fa fa-arrow-circle-o-up"></span></a>
                                        <b>{{ answer.vote_counter }}</b>
                                        <a href="{% url 'questions:votedown' answer.id %}"><span class="fa fa-arrow-circle-o-down"></span></a>
                                    </span>
                                {% endif %}

                                <span>by <a href="{% url 'questions:profile' answer.user.id %}">{{ answer.user }}</a>
                                    | posted {{ answer.created }} </span>
                            </div>

                                <div class="answer_body"><i>{{ answer.body|safe }}</i></div>

                                <div class="answer_actions">
                                    {% if request.user in answer.flaggers %}
                                        <span class="fa fa-flag btn btn-link disabled"></span><span class="badge badge-pill badge-info">{{ answer.flag_set.all.count }}</span>
                                    {% else %}
                                        <button id="{{ answer.id }}" value="a" type="button" class="flag btn btn-link" data-toggle="modal" data-target="#exampleModalLong">
                                            <span class="fa fa-flag-o"></span>
                                        </button>
                                    {% endif %}

                                </div>

                            </li>
                    {% endfor %}
                </ul>

            {% endif %}

        </div>

        <div class="col-lg-3">

            {% if related.count > 0 %}

                <h5>RELATED QUESTIONS</h5>
                <ul>
                    {% for question in related %}
                        <a href="{% url 'questions:question_detail' question.id %}"><li>{{ question }}</li></a>
                    {% endfor %}
                </ul>

            {% endif %}
        </div>

    </div>
    <hr >
    <div class="row">
        <div class="col-lg-8">
            {% if request.user.is_authenticated %}
                <div id="answer_wrapper">
                    <h5>New Answer</h5>
                    <form action="{% url 'questions:post_answer' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" value="{{ question.id }}" name="question_id"/>
                        {{ form.media }}
                        {{ form.body }}
                        <br />
                        <br />
                        <p><button type="submit" class="btn btn-outline-info btn-lg">ANSWER</button> </p>
                    </form>
                </div>
            {% endif %}
        </div>
            {% if request.user.is_authenticated %}
                <div class="col-lg-4">
                    <i><h5>TIPS</h5>
                    <ul>
                        <li>Pay it forward</li>
                        <li>Answer the question specifically</li>
                        <li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Provide context for links</a></li>
                        <li>Write to the best of your ability</li>
                        <li>Answer well-asked questions</li>
                        <li>Always be polite and have fun</li>
                    </ul></i>
                </div>
            {% endif %}

    </div>

</div>
<br />

<script>

    // FLAGS
    let flags = document.getElementsByClassName('flag');
    // console.log(flags);
    for (let i = 0; i < flags.length; ++i) {
        let id = flags[i].id;
        let type = flags[i].value;
        let button = document.getElementsByClassName('flag')[i];
        // console.log(button);
        button.onclick = function() {
            console.log(`id: ${id} - type ${type}`);
            let flag_type = document.getElementById('flag_type');
            let flag_type_id = document.getElementById('flag_type_id');
            flag_type.setAttribute('value', type);
            flag_type_id.setAttribute('value', id)
        };
    }

    // AJAX Question Bookmarks create/delete
    let bookmark = document.getElementById('question_bookmark');
    bookmark.onclick = function() {
        if (bookmark.className === 'fa fa-bookmark-o') {
            let id = {{ question.id }}
            let data = {'question_id': id};
            bookmark.className = 'fa fa-bookmark';
            http_post("{% url 'questions:new_bookmark' %}", data, function(response) {
                alert("Bookmark added");
            })
        } else {
            bookmark.className = 'fa fa-bookmark-o';
            let id = {{ question.id }}
            let data = {'question_id': id};
            http_post("{% url 'questions:delete_bookmark' %}", data, function(response) {
                alert("Bookmark deleted")
            })
        }
    };

    let flag = document.getElementById('question_flag');
    flag.onclick = function() {

    };


</script>

{% endblock %}