{% extends 'questions/base.html' %}

{% block content %}

<br />
<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <h3>{{ question.title }}</h3>
            <p>by <a href="{% url 'questions:profile' question.user.id %}">{{ question.user }}</a>
                | published {{ question.created }}
                {% if request.user == question.user %}
                | <a href="{% url 'questions:edit_question' question.id %}">EDIT</a>
                {% endif %}
            </p>
            <p id="question_body">{{ question.body|safe }}</p>
            <p>CATEGORY - {{ question.category }}</p>
            <p> TAGS -
                {% for tag in tags %}
                    {{ tag }}
                {% endfor %}</p>

            {% if answers.count > 0 %}

                <hr >
                <h5>ANSWERS</h5>
                <ul>
                    {% for answer in answers %}
                        {% if answer.solution == True %}
                            <li class="solution_wrapper" style="list-style: none">
                        {% else %}
                            <li class="answer_wrapper" style="list-style: none">
                        {% endif %}
                            <div id="solution_indicator" class="dp_tooltip">
                                {% if request.user == question.user and question.solved == False %}
                                    <span class="tooltip_text">Click to select your solution.</span>
                                    <a href="{% url 'questions:solve' answer.id %}"><span class="fa fa-check-circle-o"></span></a>
                                {% elif question.solved and answer.solution == True %}
                                    <span class="fa fa-check-circle-o" style="color: #9aca27"></span></a>
                                {% endif %}
                            </div>
                            {% if answer.vote_set.all.exists %}

                                {% for vote in answer.vote_set.all %}
                                    {% if vote.user == request.user %}
                                        <p class="answer_data"><span class="fa fa-arrow-circle-o-up" style="opacity: .2"></span>
                                            <b>{{ answer.vote_counter }}</b>
                                            <span class="fa fa-arrow-circle-o-down" style="opacity: .2"></span>
                                        </p>
                                    {% endif %}
                                {% endfor %}

                            {% else %}

                                <p class="answer_data"><a href="{% url 'questions:voteup' answer.id %}"><span class="fa fa-arrow-circle-o-up"></span></a>
                                    <b>{{ answer.vote_counter }}</b>
                                    <a href="{% url 'questions:votedown' answer.id %}"><span class="fa fa-arrow-circle-o-down"></span></a>
                                </p>

                            {% endif %}

                                <p><i>{{ answer.body|safe }}</i></p>
                                <p>by <a href="{% url 'questions:profile' answer.user.id %}">{{ answer.user }}</a>
                                    | posted {{ answer.created }} </p>
                            </li>
                    {% endfor %}
                </ul>

            {% endif %}
<hr >
            {% if request.user.is_authenticated %}
                <div id="answer_wrapper">
                    <h5>New Answer</h5>
                    <form action="{% url 'questions:post_answer' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" value="{{ question.id }}" name="question_id"/>
                        {{ form.media }}
                        {{ form.body }}
                        <br />
                        <br />
                        <p><button type="submit" class="btn btn-outline-info btn-lg">ANSWER</button> </p>
                    </form>
                </div>
            {% endif %}
        </div>

        <div class="col-sm-4">
            <br />
            <br />

            {% if related.count > 0 %}

                <h5>RELATED QUESTIONS</h5>
                <ul>
                    {% for question in related %}
                        <a href="{% url 'questions:question_detail' question.id %}"><li>{{ question }}</li></a>
                    {% endfor %}
                </ul>

            {% endif %}
        </div>

    </div>

</div>
<br />


{% endblock %}