{% extends 'questions/base.html' %}

{% block content %}

<h3>{{ question.title }}</h3>
<p>by <a href="{% url 'questions:profile' question.user.id %}">{{ question.user }}</a>
    | published {{ question.date_time }}
    {% if request.user == question.user %}
    | EDIT
    {% endif %}
</p>
<p id="question_body">{{ question.body }}</p>

<p> tags:
    {% for tag in tags %}
        {{ tag }}
    {% endfor %}</p>

<p>ANSWERS</p>
<ul>
    {% for answer in answers %}
    <li>
        <p><b>{{ answer }}</b>
            <br /> by <a href="{% url 'questions:profile' answer.user.id %}">{{ answer.user }}</a>
            | posted {{ answer.date_time }} | < {{ answer.votes }} > votes</p>
        <p>{{ answer.body }}</p>
    </li>
    {% endfor %}
</ul>

<div id="new_comment_wrapper">
    <form action="{% url 'questions:post_answer' %}" method="post">
        {% csrf_token %}
        <input type="hidden" value="{{ question.id }}" name="question_id"/>
        <p><textarea rows="10" cols="75" placeholder="answer" name="answer" id="new_answer" required></textarea></p>
        <p><button type="submit">ANSWER</button> </p>
    </form>
</div>

<div>RELATED QUESTIONS</div>
<ul>
    {% for question in related %}
        <a href="{% url 'questions:question_detail' question.id %}"><li>{{ question }}</li></a>
    {% endfor %}
</ul>


{% endblock %}