{% extends 'questions/base.html' %}


{% block content %}
NEW ACCOUNT
<div id="register_wrapper">
    <form action="{% url 'questions:activate' %}" method="post">
        {% csrf_token %}
        <p><input type="text" placeholder="username" name="username" id="create_username" required pattern="[\w\W]+"/></p>
        <p><input type="text" placeholder="email" name="email" id="create_email" required pattern="[\w\W]+"/></p>
        <p><input type="password" placeholder="password" name="password" id="create_password" required pattern="[\w\W]+"/></p>
        <button type="submit" id="btn_signin"><b>ACTIVATE</b></button>
    </form>
</div>

{% endblock %}