{% extends 'questions/base.html' %}

{% block content %}

<br />
<div class="container">
    <h4>SEARCH RESULTS</h4>

    {{ terms }}

    <ul id="question_list" style="list-style: none;">
    {% for question in questions %}

        <a href="{% url 'questions:question_detail' question.id %}" id="question_li" style="text-decoration: none">
            <p><li><b>{{ question.title }}</b>
            <br /> by {{ question.user }} | <i>{{ question.date_time}}</i>
            <br /> {{question.answer_set.count }} answers</li></p>
        </a>

    {% endfor %}
    </ul>
</div>
<br />


{% endblock %}
