{% extends 'questions/base.html' %}

{% block heading %}

    <div class="row" id="heading">
        <div class="col">
            <span style="font-size: 2em" class="page_heading">SIGN IN</span>
        </div>
    </div>

{% endblock %}

{% block content %}

<br />
<div class="container signin_wrapper">
    <div class="row">
        <div class="col-lg-7">
            <form action="{% url 'questions:signin_attempt' %}" method="post">
                {% csrf_token %}
                <p><input type="text" placeholder="username" name="username" class="form-control" required/></p>
                <p><input type="password" placeholder="password" name="password" class="form-control" required/></p>
                <button type="submit" class="btn btn-outline-info my-2 my-sm-0"><b>sign in</b></button>
            </form>
        </div>
    </div>
</div>
<br />

{% endblock %}