{% extends 'questions/base.html' %}

{% block heading %}

    <div class="row" id="heading">
        <div class="col">
            <span style="font-size: 2em" class="page_heading">TAGS</span>
        </div>
    </div>

{% endblock %}

{% block content %}

<br />
<div class="container">
    <ul>
        {% for category in categories %}
            <li>{{ category }}</li>
        {% endfor %}
    </ul>

    <ul>
        {% for tag in all_tags %}
            <li>{{ tag }}</li>
        {% endfor %}
    </ul>

</div>
<br />


{% endblock %}
